<div class="m-lg-5 m-sm-4 mt-sm-5 m-xs-0 mt-xs-3 applicant-display-main-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Resume</th>
      </tr>
    </thead>
    <tbody>
      <% counter = 0 %> <% applicants.forEach((applicant)=>{ %>
      <tr>
        <th scope="row"><%= counter+1 %> <% counter++ %></th>
        <td><%=applicant.name%></td>
        <td><%=applicant.email%></td>
        <td><%= applicant.phoneNumber%></td>
        <td>
          <a
            class="btn btn-primary"
            href="/resume/<%= applicant.resume %>"
            role="button"
            target="_blank"
            >View</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
